.navbar.transparent.navbar-inverse .navbar-inner {
    background: rgba(0,0,0,0.8);
}

#showcase .features_op1_row .feature .img_box {
    text-align: center;
}

#showcase .features_op1_row .feature .img_box img {
    max-width: 240px;
    max-height: 150px;
}

#showcase .features_op1_row .feature .img_box .feature_image {
    line-height: 180px;
}

#showcase .features_op1_row .feature .img_box .feature_image img,
#showcase .features_op1_row .feature .img_box .feature_image i{
    display: inline-block;
    vertical-align: middle;
    color: #3f92c4;
}
sup {
    font-size: 10px;
}

.icon-10x {
    font-size: 10em;
}

#service_2 .lead_stream .description_wrapper img {
    float:right;
}