.navbar.transparent.navbar-inverse .navbar-inner {
    background: rgba(0,0,0,1);
}

#showcase .features_op1_row .feature .img_box {
    text-align: center;
}

#showcase .features_op1_row .feature .img_box img {
    max-width: 240px;
    max-height: 150px;
}

#showcase .features_op1_row .feature .img_box .feature_image {
    line-height: 180px;
}

#showcase .features_op1_row .feature .img_box .feature_image img,
#showcase .features_op1_row .feature .img_box .feature_image i{
    display: inline-block;
    vertical-align: middle;
    color: #3f92c4;
}
sup {
    font-size: 10px;
}

.icon-10x {
    font-size: 10em;
}

i {
    color: #1189D9;
}

#service_2 i {
    color: white;
    line-height: 135px;
}

#service_2 .lead_stream .description_wrapper img {
    float:right;
}
.section_header {
    margin-bottom: 30px;
}
.comparison table th,
.comparison table td {
    text-align: center;
    font-weight: normal;
}
.comparison table tr#tco td {
    background-color: #93ce22;
    color: white;
    font-weight: bold;
    font-size: 18px;
}
.comparison table tr#tco td.small {
    font-size: 16px;
}
.comparison table td i.bold {
    font-size: 2.2em;
    font-weight: bold;
    text-shadow: 1px 1px 1px #BBB;
}
.comparison table td.left {
    text-align: left;
}
.comparison .table-striped tbody > tr:nth-child(odd) > td, .table-striped tbody > tr:nth-child(odd) > th {
    background-color: #F6F6F6;
}
.green {
    color: #93ce22;
}
#features .feature div.left-float {
    float: left;
}
#features .feature div.left-float:before {
    float:right;
}
#features .feature div.right-float {
    float: right;
}
#features .feature div.right-float:before {
    float:left;
}
#features .feature div.left-float:before,
#features .feature div.right-float:before {
    content: "";
    width: 107px;
    height: 357px;
}
#features .feature .center-image {
    position: absolute;
    left: 50%;
    margin-left: -107px;
}
#features .feature div.left-float h4,
#features .feature div.right-float h4 {
    font-size: 24px;
    color: rgb(100, 100, 100);
    font-weight: 300;
    font-style: italic;
}
#features .feature div.left-float li,
#features .feature div.right-float li {
    font-size: 16px;
    line-height: 30px;
}
#features .feature div.left-float,
#features .feature div.right-float {
    margin-top: 60px;
}
#features.customers_page .subtitle h2 {
    text-align: left;
}
#service_2.case_studies .quote {
    font-size: 24px;
    line-height: 36px;
    font-style: italic;
    font-weight: 500;
    text-align: right;
    margin-bottom: 40px;
}
#service_2.case_studies .perk {
    padding-bottom: 30px;
    border-bottom: 1px solid #e0e0e0;
}

#service_2.case_studies .perk .buttons {
    margin: 20px 0;
    text-align: center;
}
#service_2.case_studies .perk .button a {
    color: #fff;
}
#service_2.case_studies .perk .button {
    color: #fff;
    font-weight: bold;
    background-color: #81aa00;
    padding: 10px 25px;
    margin: 0 60px;
    font-size: 16px;
    border-radius: 5px;
    display: inline-block;
    -webkit-transition: opacity .1s linear;
    -moz-transition: opacity .1s linear;
    transition: opacity .1s linear;
}
#footer .container .credits a {
    color: #a6a6a7;
    padding: 0 10px;
}
#footer .container .credits .footer_links {
    text-align: center;
    margin-top: 20px;
}
#footer .container .credits .footer_links ul li:not(:last-child) {
    border-right: 1px solid #ccc;
}
